In [ ]:
import pandas as pd
features = ['Name', 'hair', 'feathers', 'eggs', 'milk', 'airborne', 'aquatic', 'predator', 'toothed', 'backbone', 'breathes', 'venomous', 'fins', 'legs', 'tail', 'domestic', 'catsize', 'type']
data= pd.read_csv('zoo-1.data')
data1 = pd.DataFrame(data)
data1

In [2]:
df= {'animal name': ['aardvark', 'antelope', 'bear', 'boar'],
          'hair': ['0','1','1','0'],
          'feathers': ['1','0','0','0'],
	         'eggs': ['1','0','1','1'],
	         'milk': ['0','0','0','1'],
	         'airborne':['0','0','0','0'],	
            'aquatic':['1','1','1','1'],	
            'predator':	['1','0','0','1'],
             'toothed':['1','1','1','1'],	
             'backbone':['0','1','1','0'],
              'breathes':['0','0','0','0'],		
               'venomous':['0','0','0','0'],		
                'fins':['1','0','0','1'],	
                'legs':['2','6','4','4'],		
                'tail':['0','0','0','0'],	
                'domestic':['1','1','1','1'],	
                 'catsize':['1','1','1','1'],	
                 'type': ['2','3','6','6'],	
        }

df1 = pd.DataFrame(df, columns = ['animal name', 'hair', 'feathers', 'eggs', 'milk', 'airborne', 'aquatic', 'predator', 'toothed', 'backbone', 'breathes', 'venomous', 'fins', 'legs', 'tail', 'domestic', 'catsize', 'type'])

DF = df1.replace(to_replace = ['1','0'],value = ['Yes','No'])
DF

,animal name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,No,Yes,Yes,No,No,Yes,Yes,Yes,No,No,No,Yes,2,No,Yes,Yes,2
1,antelope,Yes,No,No,No,No,Yes,No,Yes,Yes,No,No,No,6,No,Yes,Yes,3
2,bear,Yes,No,Yes,No,No,Yes,No,Yes,Yes,No,No,No,4,No,Yes,Yes,6
3,boar,No,No,Yes,Yes,No,Yes,Yes,Yes,No,No,No,Yes,4,No,Yes,Yes,6